<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>La Velada del Año - Un proyecto para aprender</title>
	</head>
	<body>
		<header>
			
		</header>

		<main>
			<section
			id="boxeadores"
			class={`flex justify-between relative
			[&>div>img]:absolute [&>div>img]:bottom-0
			[&>div>img]:w-auto
			h-screen pt-24 border-b border-white/10
			`}
			>
				<div class="relative w-full">
					<img class="left-0 h-full z-50" src="public/boxers/Coscu.png" alt="Coscu" />
					<img class="left-[5%] h-[80%] z-40" src="public/boxers/mayichi.png" alt="Mayichi" />
					<img class="left-[15%] h-[75%] z-30" src="public/boxers/viruzz.png" alt="Viruzz" />
					<img class="left-[25%] h-[70%] z-20" src="public/boxers/fernanfloo.png" alt="Fernanfloo" />
					<img class="left-[35%] h-[68%] z-10" src="public/boxers/la-rivers.png" alt="La Rivers" />
					<img class="left-[40%] h-[63%] z-0" src="public/boxers/papigavi.png" alt="Papigavi" />
				</div>

				<div class="relative w-full">
					<img class="right-0 h-full z-50" src="public/boxers/german.png" alt="German" />
					<img class="right-[5%] h-[80%] z-40" src="public/boxers/amouranth.png" alt="Amouranth" />
					<img class="right-[15%] h-[75%]z-30" src="public/boxers/shelao.png" alt="Shelao" />
					<img class="right-[25%] h-[70%] z-20" src="public/boxers/luzu.png" alt="Luzu" />
					<img class="right-[35%] h-[68%] z-10" src="public/boxers/rivers.png" alt="Rivers" />
					<img class="right-[40%] h-[63%] z-0" src="public/boxers/ampeter.png" alt="Ampeter" />
				</div>

			</section>
		</main>

		<footer></footer>
	</body>
</html>

<style is:global>
	body {
		background: #131313;

	}

</style>

